<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Smally</title>
</head>
<body>
   <div className="">
    <h1>Url Reducer</h1>
    <form action="/shortUrls" method="POST" className="">
        <label for="fulllUrl" className="">Url</label>
        <input type="url" required placeholder="Url here...." name="fulllUrl" id="fulllUrl" className="">
        <button className="">reduce</button>
    </form>
    <table className="table">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
             </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://"></a></td>
            <td><a href="/123456">123456</a></td>
            <td>10</td>
          </tr>
        </tbody>
    </table>
   </div> 
</body>
</html>